<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="container-fluid">
    <img class="img m-2 " src="../assets/img/cloud.png" width="30" height="30">
    <a class="navbar-brand text-info" routerLink="">Framework</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="posts">Postagens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="albuns">Albuns</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="todos">Pendência</a>
        </li>     
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
